#Configuracion general de la aplicacion
spring.application.name=CliniCore-api
server.address=0.0.0.0
server.port=${SERVER_PORT:8080}

#Configuracion de seguridad y jwt

#Conexion a la base de datos PostgreSQL
spring.datasource.url=jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:CliniCore_db}
spring.datasource.username=${DB_USER:postgres}
spring.datasource.password=${DB_PASSWORD:TU_CONTRASENIA}

#Configuracion de persistencia (JPA / Hibernate)
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=${JPA_DDL_AUTO:update}
spring.jpa.show-sql=${JPA_SHOW_SQL:true}
spring.jpa.properties.hibernate.format_sql=true

#Internacionalizacion y zona polaria el salvador
spring.jpa.properties.hibernate.jdbc.time_zone=America/El_Salvador
spring.jackson.time-zone=America/El_Salvador
spring.jackson.locale=es_SV